
body{
    background: white;
    color:whitesmoke;
    font-family: Anton;
    letter-spacing: 2px;
    margin-top: 80px;
    padding: 30px;    
}
.aspiring{
    color: green;
}
header img{ 
    height: 80px;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}
header * {
    display: inline;
}
header li {
    margin: 20px;
}
header li a {
    color: black;
    text-decoration: none;
}
    
.top-container{
background-image:url(./assets/images/pexels-adrien-olichon-2387793.jpg);
background-size:cover;
background-repeat: no-repeat;
height: 100vh;
width: 100%;
}
.headers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 15%;
}
.about-me{
    background-image:url(./assets/images/pexels-adrien-olichon-2387793.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;   
}
.about-me img{
    border-radius: 50%; 
}
.interests{
    float: left;
    height: 200PX;
    width: 200PX;
    margin-right: 10px;
    margin-bottom: 10px;
}
.passions{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-direction: row nowrap;
    background-image:url(./assets/images/pexels-adrien-olichon-2387793.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
}
.football-card{
    max-width: 400px;
}
.turtle-card{
    max-width: 400px;
}
.shoe-card{
    max-width: 400px;
}

.project-container{
    background-image:url(./assets/images/pexels-adrien-olichon-2387793.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template:repeat(3,200PX) / repeat(3,200PX);
    gap: 10px;
}